@media screen and (max-width:699px) {
    .left {
        width: 100%;
    }


    .home-container {
        width: 90%;
        height: 100px;
        /* width: 420px; */
        margin-left: auto;
        margin-right: auto;
        border-radius: 13px;
        background-color: #121212;
        color: #fff;
        flex-direction: column;
        gap: 18px;
        font-size: 1rem;
        padding-left: 20px;
        margin-top: 20px;

    }

    .library {
        /* width: 96%; */
        width: 90%;
        height: 430px;
        border-radius: 13px;
        background-color: #121212;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        padding-right: 20px;
    }

    main {
        margin: auto;
    }

    .right {
        display: none;
    }

    footer {
        font-size: 0.5rem;
        display: none;
        height: 40px;
    }

    footer {
        width: 100%;
        background-color: #fff;
        position: fixed;
        justify-content: space-between;
        height: 55px;
        padding: 10px 10PX;
        align-items: center;
        bottom: 0;
    }
    
    footer p:nth-child(2) {
       font-size: 1rem;
       cursor: pointer;
    }
    
    footer p:nth-child(1){
        width: 85%;
    }
}